.player {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.time-control {
  width: 50%;
  display: flex;
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem;
  }
}

.player-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  svg {
    cursor: pointer;
  }
}

@media screen and (max-width: 668px) {
  .time-control {
    width: 90%;
  }
  .player-control {
    width: 60%;
  }
}
